<br>

<div class="row">
    <div class="col-md-12">
        <div class="mb-3">
            <label>Title</label>
            <input id="post-title" class="form-control" name="post-id" value="{{ Blogposts.name }}">
        </div>
    </div>
</div>

<div class="row">
    <div class="col-md-12">
        <div class="input-group">
            <textarea id="post-description" class="form-control" aria-label="With textarea" value="{{ Blogposts.description }}"></textarea>
        </div>
    </div>
</div>

<br>

<div class="row">
    <div class="col-md-12">
        <button id="update-btn" type="submit" class="btn btn-success">Update</button>
        <button id="delete-btn" type="submit" class="btn btn-danger">Delete</button>
    </div>
</div>

<br>

<script src="/js/updateDelete.js"></script>

{{Blogpost.id}}
