<br>

<div class="row">
    <div class="col-md-12">
        <div class="mb-3">
            <label>Title</label>
            <input id="post-title" class="form-control">
        </div>
    </div>
</div>

<div class="row">
    <div class="col-md-12">
        <div class="input-group">
            <textarea id="post-description" class="form-control" aria-label="With textarea"></textarea>
        </div>
    </div>
</div>

<br>

<div class="row">
    <div class="col-md-12">
        <button id="update-btn" type="submit" class="btn btn-success">Update</button>
        <button id="delete-btn" type="submit" class="btn btn-danger">Delete</button>
    </div>
</div>

<br>