<br>

<div class="row">
    <div class="col-md-12">
        <header>
            <b>Please Sign In</b>
        </header>
    </div>
</div>

<br>

<form>
    <div class="mb-3">
        <div class="row">
          <div class="col-md-12">
                <label for="exampleInputEmail1" class="form-label">Email address</label>
          </div>
        </div>
        <div class="row">
          <div class="col-md-12">
                <input type="email" id="email-login" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp">
          </div>
        </div>
    </div>

    <div class="mb-3">
        <div class="row">
            <div class="col-md-12">
                <label for="exampleInputPassword1" class="form-label">Password</label>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <input type="password" id="password-login" class="form-control" id="exampleInputPassword1">
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-md-12">
            <button type="submit" id="signin-form" class="btn btn-primary">Sign In</button>
        </div>
    </div>
</form>

<br>
<br>

<div class="row">
    <div class="col-md-12">
        <header>
            <a href="/api/users/signup"><p><b>Please Sign Up Here</b></p></a>
        </header>
    </div>
</div>

<br>

<script src="/js/signin.js"></script>